@if (location?.iconDirectory) {
  <div class="location-display">
    <h3 class="location-label">{{ location!.label }}</h3>
    <div class="location-icon-circle">
      <img [src]="location!.iconDirectory.toString()" [alt]="location!.label.toString()" class="location-icon" />
    </div>
    @if (location?.description || outcomeDisplay.length) {
      <div class="location-outcome-display">
        @if (location?.description) {
          <p class="outcome-line">{{ location!.description }}</p>
        }
        @if (location?.description && outcomeDisplay.length) {
          <br />
        }
        @for (line of outcomeDisplay; track $index) {
          <p class="outcome-line">{{ line }}</p>
        }
      </div>
    }
    @if (players.length) {
      <div class="players-here">
        <div class="player-bubbles">
          @for (player of players; track player.authorId; let i = $index) {
            <div class="player-bubble-wrapper">
              <div class="player-bubble" [style.background-color]="getBubbleColor(i)"></div>
              <span class="player-bubble-label">{{ player.displayName }}</span>
            </div>
          }
        </div>
        <span class="players-label">{{ players.length === 1 ? 'is here' : 'are here' }}</span>
      </div>
    }
  </div>
}
