.feed {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 60vh; // Prevent card from growing beyond the screen
    padding: 1rem;
    flex-grow: 1;
    min-height: 0; // Needed for flex children to scroll properly inside flex containers
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
}

.highlight {
    font-weight: bold;
    text-decoration: underline;
} 

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}
