@if (players.length > 0 && currentTurnPlayer !== undefined && currentTurnPlayer.userName !== "") {
    <mat-card class="instructions">{{playerTurnMessage()}}</mat-card><br>
}

@if (!(isRitualPhase() && activePlayerSession.outcomeDisplay.length === 0)) {
    <mat-card class="game-session-display">
        <div #scrollContainer class="feed">
            @if(activePlayerSession.location !== null && activePlayerSession.location.id !== "") {
                <div class="fade-in">You travel to the {{ activePlayerSession.location.label }}</div>

                @if(activePlayerSession.selectedLocationOptionId === "") {
                    <div class="fade-in">{{ activePlayerSession.location.options[0].optionText }}</div>
                    <div class="fade-in">{{ activePlayerSession.location.options[1].optionText }}</div>
                } @else {
                    <div class="fade-in">{{ activePlayerSession.location.options[+activePlayerSession.selectedLocationOptionId].optionText }}</div>
                    <div>
                        @for (outcome of activePlayerSession.locationOutcomeDisplay; track outcome) {
                            <div class="fade-in">{{ outcome }}</div>
                        }
                    </div>
                }
            }

            @if (activePlayerSession.story.prompt !== "") {
                <br>
                <div class="fade-in">{{ activePlayerSession.story.prompt }}</div>
            }

            @if (activePlayerSession.story.options.length > 0 && activePlayerSession.outcomeDisplay.length === 0) {
                <div class="fade-in">{{ activePlayerSession.story.options[0].optionText }}</div>
                <div class="fade-in">{{ activePlayerSession.story.options[1].optionText }}</div>
            } 
            
            @if (activePlayerSession.outcomeDisplay.length > 0) {
                @for (outcome of activePlayerSession.outcomeDisplay; track outcome) {
                    <div class="fade-in">{{ outcome }}</div>
                }
            }
            
            @if(activePlayerSession.repercussions?.ending) {
                <div>
                    <div class="fade-in">{{currentTurnPlayer?.userName}} has learned things about {{favorEntity}}</div>
                    @if (activePlayerSession.repercussions?.ending?.options?.[0]?.optionText != "") {
                        <div class="fade-in">************</div>
                        <div class="fade-in">If you wanted to try to impress them you could {{activePlayerSession.repercussions?.ending?.options?.[0]?.optionText}}</div>
                    }

                    @if (activePlayerSession.repercussions?.ending?.options?.[1]?.optionText != "") {
                        <div class="fade-in">************</div>
                        <div class="fade-in">If you wanted to try to weaken them you could {{activePlayerSession.repercussions?.ending?.options?.[1]?.optionText}}</div>
                    }
                </div>
            }

            <div class="fade-in"> ... </div>
        </div>
    </mat-card>
}