@for (location of locations; track location.locationId) {
    <div>{{location.locationName}}</div>
}

@if (players.length > 0) {
    <div>{{playerName}} is seeking boons for the harvest. Choose a location on your phone.</div>
}

@if(activePlayerSession.story !== null && activePlayerSession.story.storyId != "") {
    <br>
    You travel to the {{activePlayerSession.story.location.locationName}}
    <br>
    {{activePlayerSession.story.prompt}}<br>
    {{activePlayerSession.story.options[0].optionText}}
    <br>
    {{activePlayerSession.story.options[1].optionText}}
}

@if (activePlayerSession.outcomeDisplay !== null
    && activePlayerSession.outcomeDisplay.length > 0
) {
    @for (outcome of activePlayerSession.outcomeDisplay; track outcome) {
        <div>{{outcome}}</div><br>
    }

    <div>Push Continue on Your Device</div>
}