.map {
    position: relative;
    width: 80vw; /* Make the width 80% of the viewport width */
    height: 80vw; /* Keep the height equal to the width for a perfect circle */
    max-width: 500px; /* Set a maximum width to prevent it from becoming too large */
    max-height: 500px; /* Set a corresponding maximum height */
    margin: 0 auto; /* Center the map horizontally */
    border: 1px dashed #ccc;
    border-radius: 50%; /* Ensure the element remains circular */
    background-color: rgb(221, 194, 39);
    animation: glow 2s infinite;
    box-shadow: 0 0 300px rgba(0, 0, 0) inset;
    overflow: hidden;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 298px rgba(33, 43, 33) inset;
    }
    50% {
      box-shadow: 0 0 300px rgba(0, 0, 0) inset;
    }
    100% {
      box-shadow: 0 0 298px rgba(33, 43, 33) inset;
    }
  }
  
  .pyre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Scale the pyre relative to the map */
    max-width: 200px; /* Set a maximum size for larger screens */
    height: auto; /* Maintain aspect ratio */
  }