@if (gameState) {
    <p>Game state has changed: {{ gameState }}</p>
}

@if (isGameInitialized()) {
    <p>Once all players have joined, click the Start Game button on your phone to begin!</p>
    {{gameSessionDisplay.mapDescription}}<br>
    {{gameSessionDisplay.goalDescription}}
}

@if (isGameInWritingPhase()) {
    {{gameSessionDisplay.mapDescription}}<br><br>
    <location [gameCode]="gameCode"></location><br>
    <write-prompt [gameCode]="gameCode" [gameState]="gameState"></write-prompt>
}

@if (isGameInAdventurePhase()) {
    {{gameSessionDisplay.goalDescription}}<br><br>
    <location [gameCode]="gameCode"></location><br>
    <adventure [gameCode]="gameCode" [gameState]="gameState" [activePlayerSession]="activePlayerSession"></adventure>
}

@if (isGameInRitualPhase()) {
    {{gameSessionDisplay.endingDescription}}<br><br>
    <div class="map">
        <img src="assets/images/pyre.gif" alt="Pyre" class="pyre">
    </div><br>
    <adventure [gameCode]="gameCode" [gameState]="gameState" [activePlayerSession]="activePlayerSession"></adventure>
}

@if (isGameInWriteEndingsPhase()) {
    @if (didWeSucceed) {
        {{gameSessionDisplay.successText}}<br><br>
    } @else {
        {{gameSessionDisplay.failureText}}<br><br>
    }

    <div class="map">
        <img src="assets/images/pyre.gif" alt="Pyre" class="pyre">
    </div><br>
    
    <write-prompt [gameCode]="gameCode" [gameState]="gameState"></write-prompt>
}

@if (isGameInEndingPhase()) {
    <location [gameCode]="gameCode"></location><br>
    <div>The die has been cast. Now is the time to decide each other's legacies. Look to your phone to choose what story or ending represents the legacy of another player. Then write their legacy.</div>
    <adventure [gameCode]="gameCode" [gameState]="gameState" [activePlayerSession]="activePlayerSession"></adventure>
}

@if (isGameInFinalePhase()){
    <finale [gameCode]="gameCode" (gameSessionCreated)="setNewGame($event)"></finale>
}