.game-session-display {
    width: 100%
}

input {
    width: 100%
}

textarea {
    width: 100%
}

h3 {
    color: var(--mat-pseudo-checkbox-full-selected-icon-color);
}

mat-form-field {
    width: 100%;
  }

input, textarea {
    width: 100%; // optional, but doesn’t hurt
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}