@if(!loginSuccessful) {
  <h2>Welcome to Nowhere!</h2>
    <form class="join-game" [formGroup]="loginForm">
      <mat-form-field class="full-width">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Your Email Address" />
          @if (email.invalid && email.touched) {
            <mat-error>Please enter a valid email address.</mat-error>
          }
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Your Password" />
        </mat-form-field>
    @if(!createNewProfile) {
        <button mat-flat-button (click)="login()">Login</button> <br><br>
        <button mat-flat-button (click)="getNewProfileForm()">New Profile</button> <br>
    } @else {
        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Your Password" />
          @if (confirmPassword.hasError('passwordMismatch') && confirmPassword.touched) {
            <mat-error>Passwords do not match.</mat-error>
          }
        </mat-form-field>
      <button mat-flat-button (click)="createProfile()">Create Profile</button> <br> <br>
      <button mat-flat-button (click)="backToLogin()">Back to Login</button> <br>
    }
    </form>
}
@else {
  @if (!gameSessionCreated) {
    <mat-chip-set><mat-chip>Profile: {{userProfile.email}}</mat-chip></mat-chip-set>
    <button (click)="changeProfile()">Switch Profile</button><br><br>
  }
  <game-session [userProfile]="userProfile" (refreshLogin)="refreshLogin($event)" (startGame)="startGame($event)"></game-session>
}